header {
    .back {
        padding: 10px 20px;
        height: 80px;
        background-color: $primary-color;
        font-weight: bold;
    }
    .container {
        max-width: 1100px;
        margin: 0 auto;
        font-style: italic;
        font-size: 20px;
        a {
            .logo {
                @include mq-small {
                    padding: 5px;
                }
                p {
                    color: $secundary-color;
                    font-weight: bold;
                    text-transform: uppercase;
                    @include mq-large {
                        padding: 10px;
                    }
                }
                &:hover {
                    color: $terciario-color;
                }
            } 
        }
    }
    
    .menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1000;
        @include mq-large {
            padding: 30px;
        }
        @include mq-medium {
            padding: 30px;
        }
        @include mq-small {
            padding: 20px;
        }
        .logo {
            img {
                display: block;
                width: auto;
                height: 120px;
                margin-top: -15px;
                @include mq-large {
                    margin-top: -50px;
                    margin-left: -40px;
                }
                @include mq-medium {
                    margin-top: -50px;
                    margin-left: -30px;
                }
                @include mq-small {
                    margin-top: -40px;
                    margin-left: -30px;
                }
            }
        }
        .menu-icono {
            @include mq-large {
                margin-top: -30px;
            }
            @include mq-medium {
                margin-top: -30px;
            }
            @include mq-small {
                margin-top: -20px;
                
            }
        }
        label {
            display: none;
            cursor: pointer;
            @include mq-large {
                display: initial;
            }
            @include mq-medium {
                display: initial;
            }
            @include mq-small {
                display: initial;
            }
        }
        .navbar {
            --bs-navbar-padding-y: 0;
            @include mq-large {
                position: absolute;
                top: 79px;
                left: 0;
                right: 0;
                background-color: $primary-color;
                display: none;
                ul {
                    li {
                        width: 100%;
                    }
                }
            }
            @include mq-medium {
                position: absolute;
                top: 79px;
                left: 0;
                right: 0;
                background-color: $primary-color;
                display: none;
                ul {
                    li {
                        width: 100%;
                    }
                }
            }
            @include mq-small {
                position: absolute;
                top: 79px;
                left: 0;
                right: 0;
                background-color: $primary-color;
                display: none;
                ul {
                    li {
                        width: 100%;
                    }
                }
            }
        }
        ul {
            li {
                position: relative;
                float: left;
            }
            a {
                font-size: 18px;
                padding: 20px;
                color: $secundary-color;
                display: block;
                &:hover {
                    color: $terciario-color;
                }
            }
        }
    }
    .uldl, ol, ul {
    margin-bottom: 0;
    }
    #menu {
        display: none;
        @include mq-large {
            &:checked ~ .navbar {
                display: initial;
            }
        }
        @include mq-medium {
            &:checked ~ .navbar {
                display: initial;
            }
        }
        @include mq-small {
            &:checked ~ .navbar {
                display: initial;
            }
        }
    }
    .menu-icono {
        width: 25px;
    }
}