.about {
    padding: 80px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    @include mq-large {
        padding: 50px;
    }
    @include mq-medium {
        padding: 10px;
    }
    @include mq-small {
        padding: 10px;
    }
}
.txt {
    margin-bottom: 30px;
    line-height: 1.5;
    text-align: left;
    font-size: 20px;
    font-style: italic;
}